include doc/conf.py
include doc/Makefile
include doc/*.rst

include tests/test*.py

include whatshap/*.pyx
include whatshap/*.pxd
include whatshap/core.cpp
include whatshap/priorityqueue.cpp
include whatshap/align.cpp
include whatshap/_variants.cpp

include src/*.h
include src/hapchat/*.cpp
include src/hapchat/*.h
include src/polyphase/*.h
