[submodule "vendor/bioparser"]
	path = vendor/bioparser
	url = https://github.com/rvaser/bioparser
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest
[submodule "vendor/simde"]
	path = vendor/simde
	url = https://github.com/nemequ/simde.git
[submodule "vendor/cpu_features"]
	path = vendor/cpu_features
	url = https://github.com/mbrcic/cpu_features.git
	branch = patch-4
