*~
.*
!/.gitignore
bin/
example/*
!example/savage_config.yaml
!example/frequencies*
!example/hiv-ref.fasta
!example/singles.sam
!example/paired.sam
!example/input_fas/
quick-cliques/bin/
quick-cliques/obj/
quick-cliques/build/
sfo_2011_5/*.o
sfo_2011_5/*.a
sfo_2011_5/*/*.o
sfo_2011_5/*/*.a
sfo_2011_5/*/*/*.o
sfo_2011_5/*/*/*.a
sfo_2011_5/*/*/*/*.o
sfo_2011_5/*/*/*/*.a
sfo_2011_5/builder
sfo_2011_5/libcds/includes/*.h
sfo_2011_5/maxoverlaps
sfo_2011_5/sfoverlap
sfo_2011_5/libcds/tests/*
!sfo_2011_5/libcds/tests/.cpp
!sfo_2011_5/libcds/tests/.h
!sfo_2011_5/libcds/tests/Makefile
savage
freq_est
