PROJECT=mecat
GENOME_SIZE=0
THREADS=1
MIN_READ_LENGTH=10
PREP_OUTPUT_COVERAGE=1
OVLP_FAST_OPTIONS=-n 500 -z 20 -b 2000 -e 0.5 -j 0 -u 1 -a 1000
OVLP_SENSITIVE_OPTIONS=-n 500 -z 10 -e 0.5 -j 0 -u 1 -a 1000
CNS_FAST_OPTIONS=-a 2000 -x 4 -y 12 -l 1000 -e 0.5 -p 0.8 -u 0
CNS_SENSITIVE_OPTIONS=-a 2000 -x 4 -y 12 -l 1000 -e 0.5 -p 0.8 -u 0
TRIM_OVLP_OPTIONS=-n 100 -z 10 -b 2000 -e 0.5 -j 1 -u 1 -a 400
ASM_OVLP_OPTIONS=-n 100 -z 10 -b 2000 -e 0.5 -j 1 -u 0 -a 400
NUM_ITER=1
CNS_OUTPUT_COVERAGE=1
CLEANUP=0
USE_GRID=false
GRID_NODE=0
GRID_OPTIONS=""
SMALL_MEMORY=0
FSA_OL_FILTER_OPTIONS=""
FSA_ASSEMBLE_OPTIONS=""
FSA_CTG_BRIDGE_OPTIONS=""
POLISH_CONTIGS=true